:root {
  --main-background: #fefcfb;
  --secondary-background: #1baad1;
  --tertiary-background: #c7ecf8;
  --text-main: #0a1128;
  --text-secondary: #001f54;
  --text-tertiary: #034078;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", "Helvetica", sans-serif;
}

body {
  background-color: var(--main-background);
}

#sidebar {
  box-sizing: border-box;

  position: absolute;
  max-width: 20%;
  min-width: 150px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  background: var(--main-background);
  border-right: 1px solid var(--secondary-background);

  color: var(--text-main);
}

h1 {
  margin: 10px;
  font-size: 32px;
  text-align: center;
  color: var(--text-main);
}

/* Purchase form styles */

#enter-purchase-form input,
select {
  width: 75%;
  padding: 2px;
  letter-spacing: 1px;
}

#enter-purchase-form label {
  display: block;
  margin-bottom: 5px;
}

#enter-purchase-form div {
  margin-bottom: 10px;
  text-align: center;
}

#enter-purchase-form {
  margin: 20px;
  padding: 10px;
}

#form-btns button {
  margin: 5px;
  padding: 5px;
  letter-spacing: 1px;
  background-color: var(--tertiary-background);
  font-weight: bold;
}

#form-btns button:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 1px gray;
  background-color: var(--secondary-background);
}

#finances-display {
  position: absolute;
  border: 2px solid black;
  left: 25%;
  display: flex;
  width: 60%;
  justify-content: space-between;
  color: var(--text-main);
}

#finances-display div {
  margin: 10px;
}

h2,
h3 {
  margin: 5px;
  text-align: center;
}

/* Purchase list styles */

#transaction-list-container {
  position: absolute;
  left: 25%;
  top: 150px;
  width: 60%;
  margin-bottom: 100px;
  color: var(--text-main);
}

#transaction-list {
  padding: 0px;
  border-collapse: collapse;
  border: 2px solid var(--secondary-background);
  width: 100%;
  letter-spacing: 0.5px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  text-align: center;
  padding: 6px 0 6px 0;
  width: 25%;
}

tr:nth-of-type(even) {
  background-color: var(--tertiary-background);
}

th {
  background-color: var(--secondary-background);
  border-bottom: 2px solid black;
}

.good-money {
  color: green;
}

.bad-money {
  color: red;
}

@media (max-width: 850px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  #finances-display {
    left: 200px;
  }

  #transaction-list-container {
    top: 120px;
    font-size: 12px;
    left: 200px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 16px;
  }

  #finances-display,
  #transaction-list-container {
    left: 170px;
  }
}
